body{
    background-color:rgb(231, 236, 239) !important;
}
.brand-logo {
    margin-left: 20px !important;
}
.footer-copyright{
    margin-left: 20px !important;
}
.brand-logo{
    font-size:20px !important;
}
.brand-logo p{
    font-size:20px !important;
}
.tabs .indicator{
    background-color:#FFFFFF !important;
}


